.index-contents {
    display: flex;
    flex-direction: row;
}
.announcements {
    flex-grow: 1;
    width: 20%;
}
.titlelogo {
    animation: title 1s ease;
}
.general {
    flex-grow: 2;
    width: 60%;
}
.faq-contents{
    margin:2px;
}
