.c2c-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c2c-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c2c-content-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.c2c-content-card {
    margin: 1%;
}
.c2c-verified-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.c2c-verified-action {
    text-align: center;
    width: 30%;
    cursor: pointer;
}
.c2c-verified-action > i {
    font-size: 35px;
}
.demo-card-wide.mdl-card {
    margin-left: 1%;
    margin-right: 1%;
    width: 500px;
    height: 300px;
}
.demo-card-wide > .mdl-card__title-c2c {
    color: #ffffff;
    height: 176px;
    background: url('favicon.ico') center / cover;
}
.demo-card-wide > .mdl-card__menu, .mdl-card__title-text-c2c {
    color: #3b3b3b;
}
.mdl-card__supporting-text {
    height: 22%
}