.c2c-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c2c-content {
    flex-grow: 1;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c2c-content-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.demo-card-wide.mdl-card {
    width: 30%;
    padding: 2%;
}
.demo-card-wide > .mdl-card__title {
    color: #ffffff;
    height: 176px;
    background: url('favicon.ico') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #3b3b3b;
}