.c2c-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c2c-content {
    flex-grow: 1;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.demo-card-wide.mdl-card {
  width: 30%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('favicon.ico') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #000000;
}