.hrwrap {
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.checkout {
    text-transform: capitalize;
    font-size: 25px;
    border: none;
    margin: 5px;
    color: white;
    background-color: #30b0f5;
}

.