
.checkout {
    float: right;
    text-transform: capitalize;
    font-size: 25px;
    border: none;
    margin: 5px;
    margin-right: 15px;
    color: white;
    background-color: #30b0f5;
}
.checkout:hover {
    background-color: #039aeb;
}
.checkoutForm {
    display: flex;
    flex-direction: row;
}
.billing {
    padding: 1%;
}
.payment {
    padding: 1%;
}
.itemswrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.items {
    display: flex;
    flex-direction: column;
    width: 90%;
}
img:not(.logo) {
    width: 20%;
}
c-product {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    padding: 1%;
    margin-left: 10px;
    margin-right: 10px;
    animation: Slide_Right 1s ease;
    width: 100%;
}
@keyframes Slide_Right{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0px);
    }
}
c-name{    
    flex-grow: 1;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 200%;
    color: black;
    padding: 1%;
}
c-price{
    flex-grow: 1;
    flex-basis: 15%;
    padding: 1%;
    color: black;
    font-size: 150%;
}
c-remove {
    flex-grow: 1;
    padding: 0.7%;
    flex-basis: 5%;
    width: 100%;
}
.remove {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.totalPrice {
    font-size: larger;
    margin-left: 75%;
}