.index-contents {
    display: flex;
    flex-direction: column;
}

.announcements {
    flex-grow: 1;
    width: 20%;
}

.titlelogo {
    animation: title 1s ease;
}

@keyframes title {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

.bigsearch {
    border: 1px solid red;
}

.titlelogosection {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.col-sm-6 {
    margin-top: 3%;
}

.card-body {
    padding-top: 0%;
}

.blockquote {
    margin-top: 5%;
}

#indexProductsRedirect {
    color: white;
    margin-top: 5%;
}

blockquote::before,
blockquote:first-child::before,
blockquote::after,
blockquote:last-child::after { content: '';  }

.flex-row {
    dis
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square>.mdl-card__title {
    color: #fff;
    background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}