.index-contents {
    display: flex;
    flex-direction: row;
}

.announcements {
    flex-grow: 1;
    width: 20%;
}

.titlelogo {
    animation: title 1s ease;
}

.general {
    flex-grow: 2;
    width: 60%;
}

@keyframes title {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

.titlelogosection {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bigsearch {
    border: 1px solid red;
}

.ads {
    flex-grow: 1;
    width: 20%;
}

.card {
    height: 100%;
}

.blockquote {
    margin-top: 70px;
}

#indexProductsRedirect {
    color: white;
    margin-top: 120px;
    margin-bottom: 5px;
}