.index-contents {
    display: flex;
    flex-direction: row;
}

.announcements {
    flex-grow: 1;
    width: 20%;
}

.titlelogo {
    animation: title 1s ease;
}

.general {
    flex-grow: 2;
    width: 60%;
}

@keyframes title {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

.titlelogosection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: bottom;
}

.bigsearch {
    border: 1px solid red;
}

.ads {
    flex-grow: 1;
    width: 20%;
}

.blockquote {
    margin-top: 5%;
}

#indexProductsRedirect {
    color: white;
    margin-top: 5%;
}

blockquote::before,
blockquote:first-child::before,
blockquote::after,
blockquote:last-child::after { content: '';  }