.index-contents {
    display: flex;
    flex-direction: row;
}

.announcements {
    flex-grow: 1;
    width: 20%;
}

.titlelogo {
    animation: title 1s ease;
}

.general {
    flex-grow: 2;
    width: 60%;
}

@keyframes title {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

.titlelogosection {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bigsearch {
    border: 1px solid red;
}

.ads {
    flex-grow: 1;
    width: 20%;
}

.blockquote {
    margin-top: 80px;
}

#indexProductsRedirect {
    color: white;
    margin-top: 120px;
    margin-bottom: 5px;
}

blockquote p { quotes: ''; }

blockquote p::before,
blockquote p:first-child::before { content: '\201C';  }

p:last-child::after,
p.is-last-child::after { content: '\201D'; }

p.has-cite:last-child::after,
p.has-cite:last-child::before,
p.has-cite-only:last-child::after,
p.has-cite-only:last-child::before { content: ''; }