* {
  box-sizing: border-box;
}
.page-heading {
  margin-left: 1%;
}
html, body {
  font-family: Verdana, sans-serif;
  background-color: #f5f5f5ee;
}
body {
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.footer {
  margin-top: 500px;
  background-color: #343434;
}
header {
  position: relative;
}
.utilities {
  background-color: #343434;
}
.searchbutton{
  top:-1px;
  cursor:pointer;
  margin-right:1%;
  padding: 15.5px;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
  color: white;
  background-color: #30b0f5;
  border: 2px solid #30b0f5;
  border-radius: 0px 10px 10px 0px;
}
.bars {
  cursor: pointer;
  color:white;
  font-size: 100%;
  margin-left: 1%;
  margin-right: 1%;
}
.shopping-cartbutton{
  cursor: pointer;
  color:white;
  margin-left: 1%;
  margin-right: 1%;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: #474747;
  box-shadow: 0px 5px 8px black;
  align-items: center;
  height: 46px;
}
.logo {
  width: 100px;
  z-index: 4;
}
.navelement {
  padding: 7px;
  margin: 0;
  color: white !important;
  background-color: #474747;
  border-top: 5px solid #474747;
  border-bottom: 5px solid #474747;
}
.navelement:hover {
  background-color: #30b0f5;
  border-top: 5px solid #30b0f5;
  border-bottom: 5px solid #30b0f5;
  cursor: pointer;
}
.popup {
  position: fixed;
  top: -1%;
  border: 500px solid rgba(0,0,0,0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#popupsignin {
  top: -100%;
}
.popupwrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.signinoptions {
  background-color: #30b0f5;
  border: none;
  color: white;
  padding: 24px 28px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 1px 1px 1px grey;
}
.c2cutilities{
  cursor: pointer;
  width: 5%;
}
.signinbutton{
  cursor: pointer;
  color:white;
}
.signinoptions:hover {
  background-color: rgb(31, 155, 221);
}
.mdl-card.sis:not(.ap) {
  overflow: visible;
  position: relative;
  top: -500px;
}
.mdl-grid:not(.ap) {
  max-width: 35%;
  margin: auto;
  position: fixed;
}
.mdl-layout__container:not(.ap) {
  display: contents;
}
.mdl-layout__header-row:not(.ap) {
  padding: 0;
}
.search {
  width: 70%;
  padding: 14px;
  border-radius: 10px 0px 0px 10px;
  margin: -6px;
  margin-left: 1%;
  border:none;
}
@keyframes Slide_Right{
  0%{
    transform: translateX(-100%);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}
@-moz-document {
  ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
input:focus {
  outline: none;
}
#menu {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #343434;
  box-shadow: inset 0 0 2px #343434;
}
::-webkit-scrollbar-thumb {
  background: #30b0f5;
}
::-webkit-scrollbar-thumb:hover {
  background: #0094e4;
}