html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #f5f5f5ee;
}
body {
  font-family: Verdana, sans-serif;
}
*{
  box-sizing: border-box;
}
.signinoptions {
  background-color: #30b0f5;
  border: none;
  color: white;
  padding: 24px 28px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 1px 1px 1px grey;
}
.signinoptions:hover {
  background-color: rgb(31, 155, 221);
}
.mdl-card {
  overflow: visible;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
  position: fixed;
}
.mdl-layout__header-row {
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: #343434;
  box-shadow: 0px 5px 8px #888888;
  align-items: center;
  height: 45px;
}
.navelement{
  padding: 7px;
  margin: 0;
  color: white;
  background-color: #343434;
  border-top: 5px solid #343434;
  border-bottom: 5px solid #343434;
}
.navelement:hover{
  color:red;
  border-bottom: 5px solid red;
  cursor: pointer;
}
.search{
  color: white;
  font-size: 15px;
  background-color: #343434;
  border: none;
  
}
@keyframes Slide_Up{
  0%{
    transform: translateY(-10px);
    scale
  }
  100%{
    transform: translateY(0px;);
  }
}
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: #343434;
  box-shadow: inset 0 0 5px #343434;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 0, 0);
}