html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #f5f5f5;
}
.signin{
  display:none;
}
.signinoptions {
  background-color: #30b0f5;
  border: none;
  color: white;
  padding: 24px 28px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
}
.signinoptions:hover {
  background-color: rgb(31, 155, 221);
}
.mdl-card {
  overflow: visible;
}
.grecaptcha-logo {
  background-color: white;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
pre {
  overflow-x: scroll;
  line-height: 18px;
}
code {
  white-space: pre-wrap;
  word-break: break-all;
}
h3 {
  background-size: 40px;
  padding-left: 50px;
  color: white;
}
#sign-out-button {
  display: none;
}
#sign-in-card {
  z-index: 2;
}
/* navabar */
nav{
  display:flex;
  flex-direction: row;
}
.navelement{
  padding: 1%;
  color: white;
  background-color: #343434;
  border-bottom: #343434;
}
hover:.navelement
.button{
  text-decoration: none;
  color: #000000;
  font-family: courier;
}

.button:hover {
  cursor: pointer;
}

.chat {
  position: fixed;
  top: 0;
  right:0;
}

*{
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}