img:not(.logo) {
    width: 20%;
}
#productsContainer {
    display: flex;
    flex-direction: column;
    padding: 1%;
}
#categories {
    width: 100%;
    padding: 0.5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#filters {
    width: 20%;
    height: fit-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mdl-chip__contact {
    width: 5px;
}
#addFilter {
    background-color: rgb(190, 190, 190);
    border: 2px solid rgb(190, 190, 190);
    border-radius: 100px 100px 100px 100px;
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
}
#results {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}
@keyframes Slide_Right {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0px);
    }
}
v-product {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    padding: 1%;
    animation: Slide_Right 1s ease;
    margin-left: 10px;
    margin-right: 10px;
}
v-text {
    flex-grow: 2;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
v-name {
    font-size: 200%;
    padding: 1%;
    color: black;
}
v-description {
    font-size: 100%;
    padding: 1%;
    color: gray;
}
v-price {
    font-size: 150%;
    padding: 1%;
    color: black;
}
v-rating {
    font-size: 150%;
    padding: 1%;
    color: rgb(241, 219, 21);
}
v-saleType {
    max-width: 500px;
}
v-actions {
    display: flex;
    flex-direction: column;
}
v-checkout {
    margin: 5px;
    color: blue;
    text-decoration: underline;
}
v-addtocart {
    margin: 5px;;
    color: blue;
    text-decoration: underline;
}