img:not(.logo) {
    width: 20%;
}
@keyframes Slide_Right {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0px);
    }
}
v-product {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    padding: 1%;
    animation: Slide_Right 1s ease;
    margin-left: 10px;
    margin-right: 10px;
}
v-text {
    flex-grow: 2;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
v-name {
    font-size: 200%;
    padding: 1%;
    color: black;
}
v-description {
    font-size: 100%;
    padding: 1%;
    color: gray;
}
v-price {
    font-size: 150%;
    padding: 1%;
    color: black;
}
v-rating {
    font-size: 150%;
    padding: 1%;
    color: rgb(241, 219, 21);
}
v-s2s {
    max-width: 25%;
}
v-actions {
    display: flex;
    flex-direction: column;
}
v-checkout {
    margin: 5px;
    color: blue;
    text-decoration: underline;
}
v-addtocart {
    margin: 5px;;
    color: blue;
    text-decoration: underline;
}