v-product{
    display: flex;
    flex-direction: row;
}
v-text{
    display:flex;
    flex-direction: column;
}
v-name{
    font-size: 500%;
    color: black;
}
v-description{
    font-size: 50%;
    color: gray;
}
v-price{
    color: red;
    font-size: 200%;
}
v-rating{
    color: blue;
    font-size: 200%;
}
v-actions{
    display:flex;
    flex-direction: column;
}
v-checkout{
    color: blue;
    text-decoration: underline;
    
}