v-product{
    display: flex;
    flex-direction: row;
}
v-text{
    display:flex;
    flex-direction: column;
}
v-name{
    font-size: 500%;
}
v-description{

}
wait rasmit /I do ha?ve to have the v- right? ok yeah yeah ok thanks
yeah for the tag name if you want to use class, no like vtext or vname