.s2s-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s2s-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s2s-content-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.s2s-content-card {
    margin: 1%;
}
.s2s-verified-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.s2s-verified-action {
    text-align: center;
    width: 30%;
    cursor: pointer;
}
.s2s-verified-action > i {
    font-size: 35px;
}
.demo-card-wide.mdl-card {
    margin-left: 1%;
    margin-right: 1%;
    width: 500px;
    height: 300px;
}
.demo-card-wide > .mdl-card__title.s2s-title {
    color: #ffffff;
    height: 176px;
    background-size: cover;
    background-position: center;
}
.demo-card-wide > .mdl-card__menu, .mdl-card__title-text.s2s-title-text {
    color: #ededed;
    background-color: rgba(0, 0, 0, 0.349);
}
.mdl-card__supporting-text.s2s-supporting-text {
    line-height: 11%;
    height: 22%
}
.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: rgb(31, 155, 221);
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
.info {
  height: 70%;
  padding: 2%;
}
#s2s-add-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mdl-cell.ap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mdl-grid.ap {
  max-width: 70%;
  margin-left: 15%;
}
.add-product-form {
  padding: 0;
}
.custom-select.ap {
  width: 15%;
}